<!--menu-->
<div>
     <ul class="menu--black">
         <li><a href="#">Loader + Pagination</a></li>
     </ul>
</div>
<br>
<table class="table">

    <tr>
        <th>ID</th>
        <th>Pais</th>
        <th>Precio</th>
        <th>Distribuidora</th>
    </tr>

    <tr  ng-repeat="pais in paises | limitTo: positionPage | limitTo: -6">
        <td>{{pais.prod_id}}</td>
        <td>{{pais.product_name}}</td>
        <td>{{pais.product_price}}</td>
        <td>{{pais.product_distribuitor}}</td>
    </tr>

</table>

    <!--pagination-->
    <div style="display: flex;justify-content: space-between">
        <button class="btn--rm" ng-click="pageLeft()"><</button>
        <button class="btn--rm" ng-click="pageRight()">></button>
    </div>


<!--all-->

<div class="responsive">
    <p class="btn--rm min"> {{positionPageView}} de {{lenPage}}</p>
    <a href="#!/all" class="btn--yes medium" >Mostrar todos</a>
</div>
