<!--menu-->
<div>
    <ul class="menu--blue">
        <li><a href="#">Todos los productos</a></li>
    </ul>
</div>
<br>

    <!-- buscador -->
    <form class="form">
        <input type="search" placeholder="Buscar productos" ng-model="searchs">
    </form>

    <!--size data-->
    <div class="responsive">
        <p class="btn--add medium">{{len | number:'0'}} productos</p>
    </div>

<table class="table blurtime">

    <tr>
        <th>ID</th>
        <th>Pais</th>
        <th>Precio</th>
        <th>Distribuidora</th>
    </tr>

    <tr  ng-repeat="pais in paises | filter: searchs">
        <td>{{pais.prod_id}}</td>
        <td>{{pais.product_name}}</td>
        <td>{{pais.product_price}}</td>
        <td>{{pais.product_distribuitor}}</td>
    </tr>

</table>

